* {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}
.ant-layout-sider ,
.ant-layout-header{
    background:#ffffff
}
#root, .ant-layout{
    height: 100%;
}