@import '~antd/dist/antd.css';
* {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

body {
    font-size:12px;
}

.ant-layout-sider,
.ant-layout-header {
    background: #ffffff
}

.ant-layout-header {
    height: auto;
}

#root,
.ant-layout {
    height: 100%;
}